<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitpub</title>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
      </style>
</head>
<% console.log(drinks) %>
<body>
    <h1>Welcome to gitPub</h1>
    <ul>
        
    <% drinks.forEach((drk, index) => { %>
<% console.log(drk.name); %>
<li>
    Name:
    <a href="/drinks/<%= index %>"><%= drk.name %></a>
</li>
 <%   }) %>
</ul>
</body>
</html>